<head>
  <title>Les Gueules Cassées</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <meta name="fragment" content="!">
  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Les Gueules Cassées"/>
  <meta property="og:description" content="Arrêtons le gaspillage"/>
  <meta property="og:site_name" content="Les Gueules Cassées"/>
  <meta property="og:url" content="http://www.lesgueulescassees.org/"/>
  <meta property="og:image" content="http://lesgueulescassees.org/wp-content/uploads/2014/11/logo-dev-e1415292442931.jpg"/>
  <!--<meta property="fb:admins" content="100006090000201"/>-->

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="Consommez autrement"/>
  <meta name="twitter:title" content="Les Gueules Cassées"/>
  <meta name="twitter:description" content="Arrêtons le gaspillage"/>
  <meta name="twitter:image" content="http://lesgueulescassees.org/wp-content/uploads/2014/11/logo-dev-e1415292442931.jpg"/>
  <meta name="twitter:site" content="@GueulesCassees"/>
  <meta name="twitter:creator" content="@olivierb"/>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMgeOg8qSmnhfyif2Yj0tg71aIs4IAMk">
  </script>
  
  <script type="text/javascript">
      var map,mc;
      var markers = [];
      function initialize() {
        var latitude = 46.71109;
        var longitude = 1.7191036;


        var mapOptions = {
          center: { lat: latitude, lng: longitude},
          zoom: 6
        };
        
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        mc = new MarkerClusterer(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      $(function() {
        $("#geoloc").on("click", function() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              latitude = position.coords.latitude;
              longitude = position.coords.longitude;
              map.setCenter({ lat: latitude, lng: longitude});
              map.setZoom(13);
            });
          }
          return false;
        });
      });
  </script>

</head>

<body>
  {{> home}}

  <footer>
    <div class="alert alert-info ac">
      SARL Les Gueules Cassées
    </div>
  </footer>

  <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=1453718251530671&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>

<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        
        <img src="/img/logo.jpg" class="logo" alt="Les Gueules Cassées">  
      </div>
      <div class="col-sm-3 ar">
        <a href="#" class="btn"><i class="fa fa-user"></i> Inscription</a><br>
        <div class="pull-right" style="margin-left:5px;width:90px">
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        </div>
        <div class="fb-like" data-href="http://lesgueulescassees.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

      </div>
      <div class="col-sm-3">
        <a href="#" class="bigbtn1">Trouver<br>un produit</a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="bigbtn2">Proposer<br>un produit</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div id="map-canvas"></div>
        <a href="#" class="btn" id="geoloc"><i class="fa fa-location-arrow"></i> Me géolocaliser</a>
        <a href="#" class="btn"><i class="fa fa-plus"></i> Proposer un point de vente</a>
      </div>
      <div class="col-sm-3">
        {{> latests}}
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Marché<br>Boucherie</a></li>
        <li><a href="#">Produits&nbsp;Laitiers<br>Oeufs</a></li>
        <li><a href="#">Charcuterie<br>Traiteur</a></li>
        <li><a href="#">Epicerie<br>Salée</a></li>
        <li><a href="#">Petit-Déjeuner<br>Epicerie&nbsp;Sucrée</a></li>
        <li><a href="#">Boissons</a></li>
        <li><a href="#">Bébé</a></li>
        <li><a href="#">Bio<br>Ecolo</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="fb-comments" data-href="http://lesgueulescassees.org" data-width="100%" data-numposts="5" data-colorscheme="light"></div>


        <h1>Et si on arrêtait de jeter nos produits à peine abîmés ou déformés ?</h1>  
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>Chaque année 17 millions de tonnes de produits parfaitement comestibles ne sont pas consommés. Des milliers de kilos pommes, d’abricots déformés, de cerises à peine fendues, de tomates biscornues sont jetés par les producteurs qui n’ont pas de débouchés valorisants pour ces fruits et légumes moins jolis et pourtant exquis.</p>
  
      </div>
      <div class="col-sm-6">
        <p><strong>« Les Gueules Cassées® »</strong> est une démarche initiée par des producteurs, artisans et fabricants de toutes les régions de France afin de revaloriser des produits moins parfaits mais qui méritent pleinement d’être vendus.</p>
        <p>Ces <strong>« Gueules Cassées® »</strong> ont désormais leur marque.
Repérez-les dans vos rayons et régalez-vous en faisant des économies.</p>
      </div>
      
    </div>
  </div>
  
</template>

<template name="latests">
  <div class="thumbnail">
    <div class="caption">
      <img src="/img/pom.jpg" alt="Les Gueules Cassées" class="pull-left">
      <div class="text">
        <div class="title">Camembert Lait Cru "Gueule Cassées"</div>
        Léger défauts de forme<br>
        Laiterie Durand (Basse Normandie)<br>
        <strong>28% moins cher</strong>
      </div>
    </div>
    <div class="clearfix"></div>
    <img data-src="holder.js/100%x100" alt="...">
  </div>

  <div class="thumbnail">
    <div class="caption">
      <img src="/img/pom.jpg" alt="Les Gueules Cassées" class="pull-left">
      <div class="text">
        <div class="title">Fraises de pleine terre "Gueule Cassées"</div>
        Fruit de gros calibre en éventail<br>
        Producteur Martin (Vaucluse)<br>
        <strong>30% moins cher</strong>  
      </div>
      
    </div>
    <div class="clearfix"></div>
    <img data-src="holder.js/100%x100" alt="...">
  </div>

  <div class="thumbnail">
    <div class="caption">
      <img src="/img/pom.jpg" alt="Les Gueules Cassées" class="pull-left">
      <div class="text">
        <div class="title">Fraises de pleine terre "Gueule Cassées"</div>
        Fruit de gros calibre en éventail<br>
        Producteur Martin (Vaucluse)<br>
        <strong>30% moins cher</strong>  
      </div>
      
    </div>
    <div class="clearfix"></div>
    <img data-src="holder.js/100%x100" alt="...">
  </div>
</template>
