@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

body { padding-top: 5px;}
.ar { text-align: right;}
.ac { text-align: center;}
h1 { font-size: 1.9em;}
a.bigbtn1, a.bigbtn2 {
  display: block;
  background: darkgreen;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 2.2em;
  margin-bottom: 5px;
}
.fb-comments, .fb-comments * {
    width:100% !important;
}
a.bigbtn2 { background: #DC0C29;}
a.bigbtn1:hover { text-decoration: none; background: green;}
a.bigbtn2:hover { text-decoration: none; background: lighten(#DC0C29, 10%);}

#map-canvas { width: 100%; height: 550px; margin: 0; padding: 0; margin-bottom: 5px;}

.thumbnail {
  .caption {
    .title {
      color: darkgreen;
      font-size: 1em;
    }
    font-size:0.8em;
    .text { margin-left: 40px;}
  }
  img.pull-left {
    height: 40px;
    padding-right: 5px;
  }
  margin-bottom: 5px;
}
nav ul {
  width: 100%;
  display:table-row;
  li {
    text-align: center;
    width: 12.5%;
    height:70px;
    display:table-cell;
    vertical-align: middle;
    a {
      display:table-cell;
      vertical-align: middle;
    }
  }
}
@media screen and (max-width: 992px) {
  .logo { width: 100%;}
  a.bigbtn1, a.bigbtn2 { font-size: 1.5em;}

}
@media screen and(max-width: 768px) {
  nav { display: none;}
}
